/*Globals*/
*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

/*Modifier*/
body{
	margin: 3px 8px;
}

h1{
	color: #3B5998;
	font-family: verdana, arial, sans-serif;
	font-size: 2.4em;
}

p{
	font-family: verdana, arial, sans-serif;
	font-size: 1em;
    line-height: 1.4em;
}

td, th{
	text-align: center;
}

td{
	color: red;
}

td:first-child::first-letter  {
    color: black;
}

td:nth-child(2)::first-letter  {
    color: black;
    font-weight: bold;
}

/*Structure*/
#Body {
    padding-top: 0.75em;
    max-width: 1200px;
    min-width: 920px;
    margin: 0 auto;
}

#pageHeader{
	width: 100%;
	margin: 0 1em;
	display:flex;
	flex-wrap:wrap;	
}

#homeImage{
	width: 50%;
}

#userLinks{
	width: 50%;
	text-align: right;
	font-size: 1.1em;
}

.row{
	width: 100%;
	display:flex;
	flex-wrap:wrap;
}

.menu{
	list-style-type: none;
	padding: 8px;
	padding-top: 14px;
	border: 1px solid rgb(185, 185, 185);
	border-radius: 5px;
	margin: 0 1em;
}

.menu li{
	display: inline;
	margin: 5px;
}

.menu li > a{
	text-decoration: none;
	color: black;
}

.menu li:hover{
	border-bottom: 3px solid #3B5998;
}

.page{
	width: 100%;
	margin: 0 1em;
	display:flex;
	flex-wrap:wrap;
}

.entrys{
	width: 75%;
	padding-right: 1em;
}

.entryContainer{
	width: 100%;
	margin-bottom: 1.em;
}

.entryHeader{
	color: #3B5998;
	font-family: verdana, arial, sans-serif;
	font-size: 1.4rem;
}

.entryContent {
    border-left: thick solid #b3b3b3;
    padding-left: 20px;
}

.tables{
	width: 25%;
}

.tableContainer{
	margin-top: 30px;
	width: 100%;
	border: 1px solid rgb(185, 185, 185);
	border-radius: 5px;
}

.tableHeader{
	color: blue;
	text-align: left;
	padding-left: 10px;
	font-size: 20px;
	margin: 0;
	border-bottom: 1px solid rgb(185, 185, 185);
}

.tableData{
	border-collapse: collapse;
}

.tableContainer td, th{
	padding: 0;
}

.tableData td, th{
	border-bottom: 1px solid rgb(185, 185, 185);
	border-left: 1px solid rgb(185, 185, 185);
}

.tableData td:first-child, th:first-child{
	border-left: none;
}

.tableData tr:last-child td{
	border-bottom: none;
}

.tableData tr td:last-child{
	color: black;
}